body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
}

.container a {
    color: white;
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

header {
    background: #7700FF;
}

header .logo {
    font-weight: bold;
}

header nav {
    justify-self: right;
}

header nav ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 1.5em;
    text-transform: uppercase;
    font-size: .8em;
}

header nav ul li a:hover {
    background: #8E2BFF;
    color: white;
}

header a {
    color: white;
}